.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 40px 60px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    min-width: 400px;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.modal-content input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.login-btn {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.sub-btn:hover { /*리엑트는 기본 버튼에 CSS 적용되어있어서 계속 파랗게 변함*/
    background-color: #f2f2f2; /* 연회색 배경 */
    color: #111;
}



.sub-btn {
    background: none;
    border: none;
    color: #555;
    text-decoration: underline;
    cursor: pointer;
}