<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.project_board_pjw.mapper.UserMapper">

    <select id="findById" parameterType="string" resultType="org.example.project_board_pjw.domain.User">
        SELECT * FROM user_tb WHERE user_id = #{userId}
    </select>

    <select id="findAll" resultType="org.example.project_board_pjw.domain.User">
        SELECT * FROM user_tb
    </select>

    <insert id="insertUser" parameterType="org.example.project_board_pjw.domain.User">
        INSERT INTO user_tb (user_id, user_pw, create_dt)
        VALUES (#{userId}, #{userPw}, NOW())
    </insert>

</mapper>