<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.project_board_pjw.mapper.UserMapper">

    <!-- 회원 가입 -->
    <insert id="insertUser" parameterType="org.example.project_board_pjw.domain.User">
        INSERT INTO user_tb (
            user_id,        /*ID*/
            user_pw,        /*비밀번호*/
            user_nm,        /*이름*/
            profile_img,    /*프로필 사진 링크*/
            skin_id,        /*적용된 스킨*/
            point_amt,      /*포인트*/
            create_dt,      /*생성날자*/
            create_id,      /*생성자*/
            user_role,      /*유저 역할 N: 일반 A :관리자*/
            user_st         /*유저상태 */
        )
        VALUES
        (
            #{userId},     /*ID*/
            #{userPw},     /*비밀번호*/
            #{userNm},     /*이름*/
            #{profileImg}, /*프로필 사진 링크*/
            #{skinId},     /*적용된 스킨*/
            0,             /*포인트*/
            NOW(),         /*생성날자*/
            #{createId},   /*생성자*/
            'USER',        /*유저 역할 N: 일반 A :관리자*/
            'N'            /*유저상태 */
         )
    </insert>

    <!-- 단일 회원 조회 -->
    <select id="selectUserById" parameterType="string" resultType="org.example.project_board_pjw.domain.User">
        SELECT
            user_id,
            user_pw,
            user_nm,
            last_login_dt,
            profile_img,
            skin_id,
            point_amt,
            leave_dt,
            create_dt,
            create_id,
            update_dt,
            update_id,
            user_st,
            user_role,
            rmk_txt
        FROM user_tb
        WHERE user_id = #{userId}
    </select>

    <!-- 전체 회원 조회 -->
    <select id="selectAllUsers" resultType="org.example.project_board_pjw.domain.User">
        SELECT
            user_id,
            user_nm,
            profile_img,
            point_amt,
            create_dt,
            user_st
        FROM user_tb
        ORDER BY create_dt DESC
    </select>

    <!-- 아이디 중복검사 -->
    <select id="findByUserId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM user_tb WHERE user_id = #{userId}
    </select>

</mapper>